In [3]:
import pandas as pd
import numpy as np

In [4]:
maps = pd.read_csv("maps_statistics.csv")
maps.head()

       Map Play Rate T-Win % CT-Win %  Matches
0  Dust II     26.7%   49.2%    50.8%  168,288
1   Mirage     23.9%   49.1%    50.9%  150,883
2  Inferno     13.1%   50.3%    49.7%   82,737
3     Nuke      4.3%   47.0%    53.0%   27,211
4  Vertigo      4.0%   47.8%    52.2%   25,390